@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --bg-1: #fbe4d8;
  --bg-2: #dfb6b2;
  --bg-3: #854f6c;
  --bg-4: #522b5b;
  --bg-5: #2b124c;
  --bg-6: #190019;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Zalando Sans Expanded", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
  background: linear-gradient(
    180deg,
    rgba(251, 228, 216, 0.99) 0%,
    rgba(209, 100, 144, 1) 22%,
    rgba(133, 79, 108, 1) 42%,
    rgba(43, 18, 76, 1) 79%,
    rgba(25, 0, 25, 1) 100%
  );
}

.loaderMainDiv {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  /* background: linear-gradient(
    180deg,
    rgba(251, 228, 216, 0.99) 0%,
    rgba(209, 100, 144, 1) 22%,
    rgba(133, 79, 108, 1) 42%,
    rgba(43, 18, 76, 1) 79%,
    rgba(25, 0, 25, 1) 100%
  ); */
  background-color: var(--bg-6);
  display: grid;
  place-content: center;
}
.loaderMainDiv h1 {
  /* background-color: #522b5b; */
  overflow: hidden;
  opacity: 0.6;
}
.loaderMainDiv h1 span {
  display: inline-block;
}
.loaderMainDiv h1 span.spanName {
  transform: translateY(100%);
}

.loginMainDiv{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.loginDiv{
  width: 30vw;
  /* min-width: 31rem; */
  border-radius: 20px;
  border: 4px solid var(--bg-1);
  padding: 2vw;
  font-family: "Poppins", sans-serif;
  /* height: 70vh; */
  background : linear-gradient(140deg ,#3c3c3c36 0%, #9d939255 100%);
  backdrop-filter: blur(10px);
}


.loginDiv h1{
  font-size: 2.5vw;
  text-transform: uppercase;
  color: var(--bg-1);
  text-decoration: underline;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

}

.loginDiv .inputs{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  padding: 1vw 0;
}

.loginDiv input{
  padding: 1vw 2vw;
  width: 95%;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--bg-2);
  font-family: "Poppins", sans-serif;

  border-radius: 10px;
  color: white;
}

.loginDiv input::placeholder{
  color: white;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;

}
.loginDiv h2{
  text-transform: capitalize;
  padding-bottom: 0.3vw;
  font-family: "Poppins", sans-serif;

  padding-top: 1vw;
}

.loginDiv input[type = "submit"]{
  background-color: var(--bg-3);
  margin-top: 2vw;
  font-family: "Poppins", sans-serif;
  align-self: center;
  cursor: pointer;
  width: 40%;
  transition: all 0.5s ease-in-out;
  font-weight: 800;
  font-size: 1.3vw;
}
.loginDiv input[type = "submit"]:hover{
  background-color: var(--bg-4);
}


@media screen and (max-width: 1183px) {
  .loginDiv{
    width: 80vw;
  }
  .loginDiv input[type = "submit"]{
    width: 60%;
    font-size: 2.4vw;

  }
}